@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700;900&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  background: #262529;
}

section.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 66px 72px;
  width: 830px;
  background: #262529;
  box-shadow: 0px 0px 250px #000000;
  border-radius: 20px;
}

section.item .item__price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #ffc700;
}

section.item .item__price .price__currency-symbol {
  margin-right: 4px;
  font-weight: 900;
  font-size: 65px;
  line-height: 82px;
}

section.item .item__price .price__value {
  font-weight: 700;
  font-size: 93.77px;
  line-height: 118px;
}

section.item .item__price-range {
  margin: 103px 0;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 14px;
  background: #4d4c53;
  border-radius: 7px;
  cursor: pointer;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 52px;
  height: 52px;
  background: #ea346f;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(234, 52, 111, 0.2);
  transition: 0.15s all ease-in-out;
}

input[type='range']:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 14px rgba(234, 52, 111, 0.2);
}

input[type='range']::-moz-range-thumb {
  width: 52px;
  height: 52px;
  background: #ea346f;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(234, 52, 111, 0.2);
  transition: 0.15s all ease-in-out;
}

input[type='range']:hover::-moz-range-thumb {
  box-shadow: 0 0 0 14px rgba(234, 52, 111, 0.2);
}

input[type='range']::-webkit-slider-runnable-track {
}

input[type='range']::-moz-range-track {
}

input[type='range']::-moz-range-progress {
  height: 14px;
  background: rgba(234, 52, 111, 0.8);
  border-radius: 7px;
  box-shadow: 0 2px 12px rgba(234, 52, 111, 0);
  transition: 0.3s all ease-in-out;
}

input[type='range']:hover::-moz-range-progress {
  box-shadow: 0 2px 25px #ea346f;
}

section.item button.item__buy-now {
  padding: 35px 53px;
  min-width: 333px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: #333139;
  border: none;
  border-radius: 100px;
}
